.navi ul{
    list-style-type: none;
    padding: 50px 100px;
    /*margin: 50px 100px;*/
    overflow: hidden;
    text-align:left;
    justify-content: space-between;
    background-color: black;
}

.navi ul li{
    display:inline-block;
    margin-left: 40px;
    margin-right: 20px;
}
.navi ul li a {
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;

}
.navi ul li a:hover{
    background-color: #7b92dd;
}

<?php include('Header.php')?>